/*--------------Модальне вікно----------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;

    padding: 40px;

    background-color: var(--title-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    color: var(--logo-second-part-color);
    background-color: var(--title-white-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
        fill: var(--accent-color);
        }
}

/* ----------------------Форма в модальному вікні------------ */

.form-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

input {

    font-family: inherit;
}

label {
    display: flex;
    flex-direction: column;

}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form-control {
    position: relative;
    margin-bottom: 10px;
    &:focus-within .form-icon {
      fill: var(--accent-color);
        }
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 12px 11px 11px 38px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: var(--accent-color);
        }
}

.form-icon {
    position: absolute;
    left: 12px;
    top: 11px;
    /* top: 50%;
    transform: translateY(-50); */
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

textarea {
    padding: 12px 16px;
}

.form-commet {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
        }
    &:focus {
        border-color: #2196f3;
                }
}

.form-button {
    display: block;
    margin: 0 auto;

    width: 200px;
    height: 50px;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    background-color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}


.button-submit-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--title-white-color);
}

/* ------------------------Сheckbox---------------------- */

.checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;

&:checked + .checkbox-chec-markr {
    background-position: center;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url('../images/checkmark.svg');
    background-size: contain;
    background-origin: border-box;
        }
&:hover + .checkbox-chec-markr {
    border-color: var(--accent-color);
    cursor: pointer;
        }
}

.checkbox-chec-markr {
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link {
    color: var(--accent-color);
    margin-left: 4px;
}