/* ------------Чим ми займаємося------ */

.work__list {
    display: flex;
}

.work__item {
    width: 370px;
    &:not(:last-child) {
            margin-right: 30px;
        }
}

.work__thumb {
    position: relative;
    >.work__title {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 100%;
            height: 70px;
    
            background-color: rgba(47, 48, 58, 0.8);
        }
}

.work__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-white-color);

}